body {
  background-color: #FFF;
  font: .6875em Verdana, Helvetica, sans-serif;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

h1 {
  font-size: 2.265em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
}

.small {
  font-size: .6em;
}

.release {
  position: absolute;
  top: -10px;
  font-weight: bold;
  white-space: nowrap;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  border: solid #ccc;
  border-width: 1px 1px 0 0;
  border-top-right-radius: 5px;
  background: #fff;
}

#graph-container {
  padding: 0 100px;
}

#graph {
  height: 450px;
}

#tooltip {
 border-radius:.35em;
 background-color:#000;
 color:#FFF;
 display:none;
 opacity:0.8;
 padding:.25em;
 position:absolute;
}

#tooltip a:link, #tooltip a:active, #tooltip a:visited {
 color:#FFF;
 text-decoration: underline;
}

#tooltip a:hover {
 color:#FFF;
 text-decoration: none;
}
